*{
    color: white;
    font-size: large;
}.container{
    background-color: black;
    height: min-content;
    width: max-content;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
}
.btn{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: #333333;
    border: none;
}
.btn-left{
    background-color: #FE9603;
}
.input{
    /* position: relative;
    top: 5px;
    left: 5px; 
    right: 5px; */
    border: none;
    height: 50px;
    width: 98%;
    color: black;
    font-size:x-large;
    border-radius: 5px;
}