*{
    color: white;
    font-size: large; 
}
.container{
    background-color: black;
    height: max-content;
    width: max-content;
    border-radius: 10px;
    padding: 5px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}
.btn{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: #333333;
    border: none;
    box-shadow: 1px 1px lightblue;
}
.btn-left{
    background-color: #FE9603;
}
.input{
    border: none;
    height: 50px;
    width: 253.5px;
    color: black;
    font-size:x-large;
    border-radius: 5px;
}
.btn:hover{
    cursor: pointer;
}